@media screen and (max-width: 1400px) {
  .section1 .swiper-info .swiper .about-me .about-text p {
    max-width: 500px;
    font-size: 20px;
  }
  .section4 .requests .requests-block .requests-cards .cards-item {
    max-width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .section1 .swiper-info .swiper .about-me .about-title h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .section1 .swiper-info .swiper .about-me .about-title .social-medias i {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
  .section1 .swiper-info .swiper .about-me .about-text p {
    max-width: 400px;
    font-size: 16px;
  }
  .section1 .swiper-info .swiper .experience {
    padding: 50px;
  }
  .section1 .swiper-info .swiper .experience .experience-title h2 {
    font-size: 30px;
    max-width: 210px;
    margin-bottom: 20px;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item {
    max-width: 270px;
    gap: 50px;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item p {
    font-size: 22px;
    font-weight: 700;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item span {
    font-size: 22px;
    color: #c0ccd1;
    font-weight: 600;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item .item-text {
    font-size: 16px;
    font-weight: 500;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item .univ {
    max-width: 200px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies {
    padding: 50px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbies-title h2 {
    font-size: 30px;
    max-width: 280px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items span {
    width: 120px;
    height: 120px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items span i {
    top: 45px;
    left: 45px;
    font-size: 35px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items span p {
    top: 80px;
    left: -10px;
    text-align: center;
    max-width: 80px;
    font-size: 18px;
  }
  .section3 .pricing .price-list {
    max-width: 400px;
  }
  .section3 .pricing .write-me {
    max-width: 400px;
  }
  .section4 .requests .requests-block .requests-cards .cards-item {
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) {
  .section1 .swiper-info .swiper .about-me .about-title h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .section1 .swiper-info .swiper .about-me .about-title i {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
  .section1 .swiper-info .swiper .about-me .about-text p {
    max-width: 400px;
    font-size: 15px;
  }
  .section1 .swiper-info .swiper .experience {
    padding: 50px;
  }
  .section1 .swiper-info .swiper .experience .experience-title h2 {
    font-size: 30px;
    max-width: 210px;
    margin-bottom: 20px;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item {
    max-width: 270px;
    gap: 50px;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item p {
    font-size: 22px;
    font-weight: 700;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item span {
    font-size: 22px;
    color: #c0ccd1;
    font-weight: 600;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item .item-text {
    font-size: 15px;
    font-weight: 500;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item .univ {
    max-width: 200px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies {
    padding: 50px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbies-title h2 {
    font-size: 30px;
    max-width: 280px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items span {
    width: 120px;
    height: 120px;
    margin-top: 30px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items span i {
    top: 45px;
    left: 45px;
    font-size: 35px;
  }
  .section1 .swiper-info .swiper .swiper-slide .hobbies .hobbi-items span p {
    top: 80px;
    left: -10px;
    text-align: center;
    max-width: 80px;
    font-size: 17px;
  }
  .section2 .section2-items .item {
    max-width: 340px;
  }
  .section3 .pricing .price-list {
    max-width: 320px;
  }
  .section3 .pricing .write-me {
    max-width: 320px;
  }
  .section4 .requests .requests-block .requests-cards .cards-item {
    max-width: 340px;
  }
}
@media screen and (max-width: 860px) {
  header .header .header-left,
  header .header .header-right {
    display: none;
  }
  .openbtn {
    display: inline-block !important;
  }
  footer .footer-top .contacts .contacts-block {
    padding: 15px 35px;
  }
  footer .footer-top .qr-code .qr-code-block {
    padding: 15px 35px;
  }
  footer .footer-bottom .bottom-block .social-medias i {
    font-size: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .section1 .swiper-info .swiper .about-me .about-title h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .section1 .swiper-info .swiper .about-me .about-title .social-medias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section1 .swiper-info .swiper .about-me .about-title .social-medias i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
  }
  .section1 .swiper-info .swiper .about-me .about-text {
    flex-direction: column;
  }
  .section1 .swiper-info .swiper .about-me .about-text p {
    max-width: 400px;
    font-size: 16px;
  }
  .section1 .swiper-info .swiper .experience {
    padding: 50px;
  }
  .section1 .swiper-info .swiper .experience .experience-title h2 {
    font-size: 30px;
    max-width: 210px;
    margin-bottom: 20px;
  }
  .section1 .swiper-info .swiper .experience .experience-info {
    flex-direction: column;
    align-items: center;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item {
    max-width: 400px;
    gap: 50px;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item p {
    font-size: 22px;
    font-weight: 700;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item span {
    font-size: 22px;
    color: #c0ccd1;
    font-weight: 600;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item .item-text {
    font-size: 16px;
    font-weight: 500;
  }
  .section1 .swiper-info .swiper .experience .experience-info .info-item .univ {
    max-width: 200px;
  }
  .section2 .section2-title h1 {
    font-size: 30px;
  }
  .section2 .section2-items .item {
    max-width: 256px;
    margin-top: 10px;
  }
  .section2 .section2-items .item .item-number {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
  .section2 .section2-items .item h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .section2 .section2-items .item p {
    padding: 10px;
    font-size: 16px;
  }
  .section2 .section2-items .item h4 {
    font-size: 22px;
    font-weight: 600;
  }
  .section2 .section2-items .item ul li {
    font-size: 16px;
  }
  .section3 .pricing {
    padding: 40px 0;
  }
  .section3 .pricing .price-list {
    margin-top: 20px;
    padding: 10px;
    max-width: 250px;
  }
  .section3 .pricing .price-list h3 {
    font-size: 25px;
  }
  .section3 .pricing .price-list p {
    font-size: 20px;
  }
  .section3 .pricing .price-list ul li {
    font-size: 16px;
    margin-top: 8px;
  }
  .section3 .pricing .write-me {
    padding: 10px;
    max-width: 250px;
  }
  .section3 .pricing .write-me h3 {
    font-size: 25px;
  }
  .section3 .pricing .write-me .btn a {
    font-size: 16px;
    padding: 8px;
  }
  footer .footer-top {
    display: flex;
    flex-direction: column;
  }
  footer .footer-top .contacts {
    width: 100%;
    text-align: center;
  }
  footer .footer-top .contacts .contacts-block {
    padding: 20px 100px;
  }
  footer .footer-top .contacts .contacts-block .contacts-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .footer-top .contacts .contacts-block .contacts-title h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 4px solid #ffffff;
  }
  footer .footer-top .contacts .contacts-block .links {
    display: flex;
    justify-content: center;
  }
  footer .footer-top .qr-code {
    width: 100%;
  }
  footer .footer-top .qr-code .qr-code-block {
    padding: 20px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-top .qr-code .qr-code-block .qr-code-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .footer-top .qr-code .qr-code-block .qr-code-title h1 {
    font-size: 40px;
    color: black;
    font-weight: 600;
    border-bottom: 4px solid black;
  }
  footer .footer-top .qr-code .qr-code-block .qr-img {
    max-width: 150px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  footer .footer-top .qr-code .qr-code-block .qr-img img {
    width: 100%;
  }
  footer .footer-top .qr-code .qr-code-block .btn-footer .lines {
    margin-top: 20px;
    max-width: 140px;
    display: flex;
    justify-content: center;
  }
  footer .footer-top .qr-code .qr-code-block .btn-footer .lines::before, footer .footer-top .qr-code .qr-code-block .btn-footer .lines::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: black;
    margin-top: 20px;
  }
  footer .footer-top .qr-code .qr-code-block .btn-footer .lines p {
    color: black;
    font-size: 24px;
    font-weight: 600;
  }
  footer .footer-top .qr-code .qr-code-block .btn-footer .btn-click a {
    padding: 3px 10px;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
  }
  footer .footer-top .qr-code .qr-code-block .btn-footer .btn-click a:hover {
    background-color: rgb(0, 97, 0);
  }
}
@media screen and (max-width: 530px) {
  header .header .header-logo {
    max-width: 150px !important;
  }
  header .header .openbtn i {
    font-size: 25px;
  }
  .section1 .swiper-info .swiper .swiper-wrapper .swiper-slide .hobbies .hobbi-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  .section-intro .intro-top .intro-title h1 {
    font-size: 30px;
  }
  .section-intro .intro-top .intro-title p {
    font-size: 20px;
  }
  .section-intro .intro-top .intro-title .intro-image {
    max-width: 200px;
  }
  .section-intro .intro-top .intro-title .intro-image img {
    width: 100%;
  }
  .section1 .swiper-info .swiper .swiper-wrapper .swiper-slide .about-me .about-title {
    flex-direction: column;
    align-items: start;
  }
  .section1 .swiper-info .swiper .swiper-wrapper .swiper-slide .hobbies .hobbies-title {
    display: flex;
    justify-content: center;
  }
  .section1 .swiper-info .swiper .swiper-wrapper .swiper-slide .hobbies .hobbies-title h2 {
    max-width: 150px;
  }
  .section1 .swiper-info .swiper .swiper-wrapper .swiper-slide .hobbies .hobbi-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section5 swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section5 swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
  .section5 swiper-slide img {
    display: block;
    width: 100%;
  }
  footer .footer-top .contacts .contacts-block {
    padding: 5px;
  }
  footer .footer-top .contacts .contacts-block .contacts-title h1 {
    font-size: 30px;
  }
  footer .footer-top .contacts .contacts-block .links ul {
    padding: 5px;
    list-style-type: none;
  }
  footer .footer-top .qr-code .qr-code-block {
    padding: 10px;
  }
  footer .footer-top .qr-code .qr-code-block .qr-code-title h1 {
    font-size: 30px;
  }
}/*# sourceMappingURL=adaptiv.css.map */